<footer class="footer text-center text-sm-start  text-white " style="  background: linear-gradient(to right, #155e75 0%, #0c4a6e 50%, #083344 100%) ;">
    &copy; <script >
               document.write(new Date().getFullYear())
    </script> Flow Master.app  &copy; جميع الحقوق محفوظة <span class="text-muted d-none d-sm-inline-block float-end">
       
    </span>
</footer><!--end footer-->