<footer class="footer text-center text-sm-start  text-white " style="  background: linear-gradient(to right, #0f766e 0%, #134e4a 50%, #042f2e 100%) ;">
     <script >
               document.write(new Date().getFullYear())
    </script> Flow Master.app  &copy; جميع الحقوق محفوظة <span class="text-muted d-none d-sm-inline-block float-end">
       
    </span>
</footer><!--end footer-->