<footer class="footer text-center text-sm-start">
    &copy; <script>
               document.write(new Date().getFullYear())
    </script> مشروع تخرج كلية تقنية معلومات <span class="text-muted d-none d-sm-inline-block float-end">
       حقوق النشر <i class="mdi mdi-copyright text-info"></i>  عزالدين وايمن
    </span>
</footer><!--end footer-->